body {
   background-color: #eeeeee;
   font-family: Arial, sans-serif;
   color: #333333;
   margin: 0;
   padding: 0;
   transition: all 0.3s;
}

header {
   background-color: #3498db;

   padding: 20px 0;
   transition: all 0.3s;
}

h1 {
   margin: 0;
   font-size: 2em;
   color: #FFFFFF;
   transition: all 0.3s;
}

.tab-container {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   padding: 20px 0;
   transition: all 0.3s;
}

.tabs {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   transition: all 0.3s;
}

.tab {
   flex: 1;
   background-color: #3498db;
   border-radius: 5px;

   margin: 3px;
   padding: 10px;
   cursor: pointer;
   text-align:7ab7;
   transition: all 0.3s;
}

.tab-content {
   
   display: none;
   padding-top: 20px;
}

.converter input {
   background-color: #ffffff;
   border-radius: 5px;
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   transition: all 0.3s;
}

.convert-button {
   background-color: #3498db;
   border-radius: 5px;
   color: #fff;
   padding: 10px 20px;
   margin: 10px 0;
   cursor: pointer;
   border: none;
   transition: all 0.3s;
 }
 
 .convert-button:hover {
   background-color: #333333;
   color: #3498db;
   box-shadow: 0 0 10px #3498db;
 }
 

.result {
   padding-top: 5px 10px;
}

footer {
   background-color: #3498db;
   color: #FFFFFF;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
